/*header.custom-header {
  background: #111;
}
.mdl-layout__header-row span.mdl-layout-title {
  color: #ffb648;
  text-transform: uppercase;
}
.custom-header .material-icons {
  color: #fff;
}
.custom-header a.mdl-navigation__link {
  color: #eee;
  font-weight: 700;
  font-size: 14px;
}
.custom-header a.mdl-navigation__link:hover {
  color: #fff;
}
.mdl-layout__drawer span.mdl-layout-title {
  background: #111;
  color: #ffb648;
}
.mdl-layout__drawer a.mdl-navigation__link {
  color: #eee;
  font-weight: 700;
  font-size: 14px;
}
.mdl-layout__drawer a.mdl-navigation__link:hover {
  color: #000;
}
.header1{

  background-color: lightblue;
  color: white;
  text-shadow: 2px 2px;
}
.head1{

  background-color: orange;
  text-align: center;
  border: 1px solid orange;
  color: white;
  text-shadow: 1px 1px;
}
.content1{

  border: 1px solid orange;
  padding: 12px;
}
.foot1{

  color: orange;
}
.left li{

  float: left;
}
.search{

  margin: 15px;
  }*/
/*body{
  padding: 0;
  margin: 0;
}
 .header_top{
  background-color: #364890;
  
}
.mdc-list-item{
  display: inline-block;
  color: white
}
.contact li{
  border-right: 1px solid white;

}
.contact li:last-child{
  border-right: none;
}
.header_middle{
  background-color: white;
}
.mdc-button--dense{
  border-radius: 5px;
  border:none;
  outline: none;
  padding: 10px;
}

.btn_signin{
  background-color: #eda33a;
}
.btn_reg{
  background-color: #d7363b;
  margin-left: 5px;
}
.header_middle img{
  height: 60px;
  width: 60px;
  margin-left: 200px;
}
.mdc-list-item__text{
  color: black;
}
.menu{
  margin-left: 150px;
  margin-top: 25px;
}
.header_buttom{
  background-color: #408fc8;

}
.mdc-text-field{
  box-sizing: border-box;
  height:40px;
  margin: 10px;
  width: 35%;
  margin-left: 440px;
}
.search{
  margin-left: 9px;
  margin-right: 0;
  margin-top: 7px;
}
.btn_letsgo{
  background-color: #f3c458;
  width:60%;
  height: 100%;
  border-radius: 0;
}
.mdc-image-list__image{
  height: 600px;
  /*position: fixed;*/
/*}
.bg_image{
  background-image: url("../images/2.png");
  
  }*/
  .head1{

    background-color: orange;
    text-align: center;
    border: 1px solid orange;
    color: white;
    text-shadow: 1px 1px;
  }
  .content1{

    border: 1px solid orange;
    padding: 12px;
  }
  .foot1{

    color: orange;
  }
  .head2{

    background-color: maroon;
    text-align: center;
    border: 1px solid maroon;
    color: white;
    text-shadow: 1px 1px;
  }
  .content2{

    border: 1px solid maroon;
    padding: 12px;
  }
  .foot2{

    color: maroon;
  }
  .head3{

    background-color: lightblue;
    text-align: center;
    border: 1px solid lightblue;
    color: white;
    text-shadow: 1px 1px;
  }
  .content3{

    border: 1px solid lightblue;
    padding: 12px;
  }
  .foot3{

    color: lightblue;
  }
  .head4{

    background-color: #7D3C98;
    text-align: center;
    border: 1px solid #7D3C98;
    color: white;
    text-shadow: 1px 1px;
  }
  .content4{

    border: 1px solid #7D3C98;
    padding: 12px;
  }
  .foot4{

    color: #7D3C98;
  }
  .head5{

    background-color: #000080;
    text-align: center;
    border: 1px solid #000080;
    color: white;
    text-shadow: 1px 1px;
  }
  .content5{

    border: 1px solid #000080;
    padding: 12px;
  }
  .foot5{

    color: #000080;
  }
  .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    background-color: #ee0035 !important;

}
.cent{

  text-align: center;
}
.cent1{

  text-align: center;
}
.cent2{

  text-align: center;
}
.padding{

  padding: 15px;
}
.mdc-button:not(:disabled) {
    /* color: #fff; */
    color: #fff !important;
}
.card-title{

  font-size: 20px;
}
